In [1]:
print('the last one was a failure')

the last one was a failure

In [3]:
import pandas as pd
pd.Series?

In [3]:
animals=['micro penis','No nut november','who know...']
pd.Series(animals)

0        micro penis
1    No nut december
2        who know...
dtype: object

In [4]:
num=[1,2,3]
pd.Series(num)

0    1
1    2
2    3
dtype: int64

In [5]:
animals=['lala','end with None',None]
pd.Series(animals)

0             lala
1    end with None
2             None
dtype: object

In [6]:
num=[1,2,3,None]
pd.Series(num)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [4]:
import numpy as np
np.nan==None

False

In [9]:
np.nan==np.nan

False

In [10]:
np.isnan(np.nan)

True

In [2]:
sports={'sitting Still':'ME',
        'eat':'me too',
        'stand up':'Not me',
        'grab':'definately not me'}
s=pd.Series(sports)
s

NameError: name 'pd' is not defined

In [3]:
s.index

NameError: name 's' is not defined

In [ ]:
s=pd.Series

In [5]:
s=pd.Series(['you','violated','law'],index=['Stop','have','the' ])
s

Stop         you
have    violated
the          law
dtype: object

In [6]:
Sport={'pole dancing' : 'Greek',
      'hand egg':'America',
      'high dive on mount Everest':'China',
      'face slap ':'Russia'}
S=pd.Series(Sport)
S

pole dancing                    Greek
hand egg                      America
high dive on mount Everest      China
face slap                      Russia
dtype: object

In [16]:
S.iloc[3]

'Russia'

In [7]:
S.loc['pole dancing']

'Greek'

In [19]:
S[3]

'Russia'

In [20]:
S['pole dancing']

'Greek'

In [25]:
Spat={11 : 'Greek',
      12:'America',
      13:'China',
      14:'Russia'}
Sp=pd.Series(Sport)
Sp

11      Greek
12    America
13      China
14     Russia
dtype: object

In [73]:
s=pd.Series([10,35,4,2])
s

0    10
1    35
2     4
3     2
dtype: int64

In [52]:
t=0
for i in s:
    t+=i
print(t)

1000

In [8]:
import numpy as np

t=np.sum(s)
print(t)

youviolatedlaw

In [72]:
a=pd.Series(np.random.randint(0,1000,10000))
a.head()

0    828
1     94
2    214
3    205
4    671
dtype: int32

In [50]:
len(a)

10000

In [57]:
%%timeit -n 100
summary=0
for e in s:
    summary+=e

8.88 µs ± 776 ns per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [58]:
%%timeit -n 100
summary=np.sum(s)

189 µs ± 48.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [79]:
s+=2
s.head()

0    22
1    47
2    16
3    14
dtype: int64

In [97]:
for label, value in s.iteritems():
    #set_value have been removed in newer version,i think?.Which is why i`m using at
    #s.set_value(label, value=+2)
    s.at[label]=value+2
s.head()

0    26
1    51
2    20
3    18
dtype: int64

In [2]:
import pandas as pd
import numpy as np

In [14]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]=value+2

2.11 s ± 421 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [15]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

1.64 ms ± 277 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
print('i hate the fact that %%timeit take too fucking long to run,Or maybe my Laptop just suck?')

In [13]:
a=pd.Series([1,2,3])
a.loc['Animal']='girl'
a

0            1
1            2
2            3
Animal    girl
dtype: object

In [17]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [18]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [3]:
import pandas as pd
import numpy as np

In [27]:
purchase_1=({'Name':'Chrisyboi',
            'Item Purchase':'Dog drink',
            'Cost': 69})
purchase_2=({'Name':'Kenvan',
            'Item Purchase':'Kitty lie detecter',
            'Cost':420})
purchase_3=({'Name':'Vina House',
            'Item Purchase':'EDM',
            'Cost':55})
df=pd.DataFrame([purchase_1,purchase_2,purchase_3],index=['store 1','store 2','store 3'])

In [28]:
df

               Name       Item Purchase  Cost
store 1   Chrisyboi           Dog drink    69
store 2      Kenvan  Kitty lie detecter   420
store 3  Vina House                 EDM    55

In [7]:
df.loc['store 2']

Name                         Kenvan
Item Purchase    Kitty lie detecter
Cost                            420
Name: store 2, dtype: object

In [8]:
type(df.loc['store 2'])

pandas.core.series.Series

In [24]:
df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5

In [6]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
index=['Store 1', 'Store 1', 'Store 2']
for i in index:
    print(df.loc[i])
#fail!

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [2]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
print(df['Item Purchased'])

NameError: name 'pd' is not defined

In [31]:
df.loc['Store 1','Cost']
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [38]:
df.T

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [39]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [41]:
df.loc['Store 1']['Cost'] #bad! make copy,slow

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [7]:
df.loc[:,['Name','Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [8]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [9]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [10]:
copy_df=df.copy()
copy_df=copy_df.drop('Store 1')
copy_df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

In [11]:
del copy_df['Name']
copy_df

        Item Purchased  Cost
Store 2      Bird Seed   5.0

In [12]:
df['Location']=None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

In [23]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df['Cost']=df['Cost']-(df['Cost']/100*20)
df
# Your answer here

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  18.0
Store 1  Kevyn   Kitty Litter   2.0
Store 2  Vinod      Bird Seed   4.0

In [24]:
cost = df['Cost']
cost

Store 1    18.0
Store 1     2.0
Store 2     4.0
Name: Cost, dtype: float64

In [25]:
cost+=2
cost

Store 1    20.0
Store 1     4.0
Store 2     6.0
Name: Cost, dtype: float64

In [26]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  20.0
Store 1  Kevyn   Kitty Litter   4.0
Store 2  Vinod      Bird Seed   6.0

In [28]:
!cat olympics.csv #--lines=100
#window is uselessaaaaaaaaaaaaaaaaaaaaaaaaaaaa

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [29]:
DF=pd.read_csv('olympics.csv')
DF.head()
#window is useless part 2

FileNotFoundError: [Errno 2] File olympics.csv does not exist: 'olympics.csv'

In [31]:
DF=pd.read_csv('olympics.csv',index_col=0,skiprows=1)
#haha window useless!!!!!part 3

FileNotFoundError: [Errno 2] File olympics.csv does not exist: 'olympics.csv'

In [33]:
DF.columns
# again window is useless

NameError: name 'DF' is not defined

In [35]:
for col in DF.columns:
    if col[:2]=='01':
        DF.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        DF.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        DF.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        DF.rename(columns={col:'#' + col[1:]}, inplace=True) 

DF.head()
#muda muda muda muda muda muda muda mudaaaaaaaaaaaa

NameError: name 'DF' is not defined

In [1]:
DF['Gold'] > 0

NameError: name 'DF' is not defined

In [ ]:
only_gold = DF.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
DF['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = DF[DF['Gold'] > 0]
only_gold.head()

In [ ]:
len(DF[(DF['Gold'] > 0) | (DF['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

In [6]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

df[df['Cost']>3]

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 2  Vinod      Bird Seed   5.0

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

In [ ]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])


df = df.set_index([df.index, 'Name'])
df.index.names = ['Location', 'Name']
df = df.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'}, name=('Store 2', 'Kevyn')))
df

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()

In [7]:
# ASSIGNMENT

In [ ]:
#Question 1

In [ ]:
def answer_one():
    ok=max(df['Gold'])
    return df.index[df['Gold']==ok]
    
answer_one()

In [ ]:
#Question 2

In [ ]:
def answer_two():
    ok=max(abs(df['Gold']-df['Gold.1']))
    nah=df.index[(df['Gold']-df['Gold.1'])==ok]
    return nah[0]
answer_two()

In [ ]:
#Question 3

In [ ]:
def answer_three():
    dafug=df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    sumth=dafug['Gold']+dafug['Gold.1']
    dif=dafug['Gold']-dafug['Gold.1']
    re =max(dif.divide(other = sumth))
    nah=df.index[dif.divide(other = sumth)==re]
    return nah[0]

answer_three()

In [ ]:
#q4

In [ ]:
def answer_four():
    df['Points'] = (df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2'] * 1)
    return df['Points']
                       
answer_four()

In [ ]:
#Question 5

In [ ]:
def answer_five():
    lol=max(census_df['COUNTY'])
    ok=census_df[census_df['COUNTY']==lol]
    l=str(ok['STNAME'])
    return l[8:16]
answer_five()

In [ ]:
#Question 6

In [8]:
def answer_six():
    not_df = census_df[census_df['SUMLEV'] == 50]
    mpc = not_df.sort_values('CENSUS2010POP', ascending=False).groupby('STNAME').head(3)
    return mpc.groupby('STNAME').sum().sort_values('CENSUS2010POP', ascending=False).head(3).index.tolist()

answer_six()

NameError: name 'census_df' is not defined

In [ ]:
#Q7

In [9]:
def answer_seven():
    not_df = census_df[census_df['SUMLEV'] == 50][[6, 9, 10, 11, 12, 13, 14]]
    not_df["MaxDiff"] = abs(not_df.max(axis=1) - not_df.min(axis=1))
    MC = not_df.sort_values(by=["mdiff"], ascending = False)
    return MC.iloc[0][0]

answer_seven()

NameError: name 'census_df' is not defined

In [ ]:
#Q8

In [ ]:
def answer_eight():
    counties = census_df[census_df['SUMLEV'] == 50]
    region = counties[(counties['REGION'] == 1) | (counties['REGION'] == 2)]
    washington = region[region['CTYNAME'].str.startswith("Washington")]
    grew = washington[washington['POPESTIMATE2015'] > washington['POPESTIMATE2014']]
    return grew[['STNAME', 'CTYNAME']]

answer_eight()